<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34558582525-06jov0q0eorltnpf75mp3o26edq7ef9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34558582525-06jov0q0eorltnpf75mp3o26edq7ef9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAcTgjMHX5F_LUfXp0jkf7h6vynFZ8guxw</string>
	<key>GCM_SENDER_ID</key>
	<string>34558582525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splitIt</string>
	<key>PROJECT_ID</key>
	<string>split-it-83a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>split-it-83a7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34558582525:ios:34fca36b8524dfc647a894</string>
</dict>
</plist>